<!--header-->
<header>
    <nav class="bg-gray-500 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <div class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                </svg>

               <%= link_to "Proxima Plan", "", class:"self-center text-xl font-semibold whitespace-nowrap dark:text-white"%>
            </div>

            <div class="flex items-center lg:order-2">
                <%= link_to "Log In", new_user_session_path, class:"text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800" %>
                <%= link_to "Get Started", projects_path, class:"text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"%>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>                      
                        <%= link_to "Home", landing_path, class:"block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"%>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--header end-->

<!-- hero-->
  <section class="hero bg-grey py-12 xl:pt-12 xl:pb-0 overflow-hidden">
    <div class="container mx-auto h-full">
      <!--text & image-->
      <div class="flex flex-col xl:flex-col items-center justify-between h-full">
          <!--text-->
            <div class="hero__text xl:w-[48%] text-center xl:text-left align-top"></div>
              <!--baddge-->
              <div class="flex items-center bg-white py-[10px] px-[20px] w-max gap-x-2 mb-[26px] rounded-full mx-auto xl:mx-6">
                <!--baddge icon-->
                <i class="ri-time-fill text-2xl text-violet-700"></i>
                <div class="uppercase text-base font-medium text-gray-700 tracking-[2.24px]">Work on time</div>
              </div>

              <!--title-->
              <h1 class="h1 mb-6 mx-6 align-baseline">Plan your projects on time </h1>
              <!--desc-->
              <p class="mb-[42px] md:max-w-xl">Proxima Plan is a cutting-edge project management software designed to streamline workflows and enhance team collaboration. With its intuitive interface and robust feature set, Proxima Plan empowers organizations to efficiently plan, track, and execute projects of any scale. The software offers comprehensive tools for task management, time tracking, resource allocation, and progress reporting, all accessible in real-time. Proxima Plan integrates seamlessly with popular productivity apps, ensuring a smooth transition and optimal productivity. Ideal for businesses of all sizes, Proxima Plan is your ultimate solution for achieving project success and driving organizational growth.</p>
              <!--Button-->
              <%= link_to "Contact Us", impressum_static_path, class:"bg-violet-700 hover:bg-violet-800 text-white font-bold py-2 px-4 rounded mx-6"%>
          <!--image-->
            
      </div>
    </div>
<!-- hero end-->