<!--header-->
<header>
    <nav class="bg-gray-700 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <%= link_to "Proxima Plan", landing_path, class: "self-center text-xl font-semibold whitespace-nowrap dark:text-white" %>

            <div class="flex items-center lg:order-2">
                <%= link_to "Home", landing_path, class: "text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" %>
            </div>
            <div class="flex justify-between items-center w-full lg:flex lg:w-auto lg:order-1 space-x-4 mx-4" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <%= link_to "Projects", projects_path, class: "block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" %>
                    </li>
                    <li>
                        <%= link_to "Add Task", tasks_new_path, class: "block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" %>
                    </li>
                    <li class="relative">
                        <button type="button" class="inline-flex items-center justify-center w-full py-2 pr-4 pl-3 text-white rounded-lg bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" id="dropdownButton">
                             User
                            <svg class="ml-1 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        <div class="hidden absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-primary-700 ring-1 ring-black ring-opacity-5 focus:outline-none z-50" id="dropdownMenu">
                            <div class="py-1">
                                <%= link_to 'Add Users', workers_add_path, class: 'block px-4 py-2 text-sm text-white' %>
                                <%= link_to 'Edit Users', workers_path, class: 'block px-4 py-2 text-sm text-white' %>
                                <%= link_to 'Edit roles', roles_path, class: 'block px-4 py-2 text-sm text-white' %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.addEventListener('click', (event) => {
      event.stopPropagation();
      dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', (event) => {
      if (!dropdownButton.contains(event.target)) {
        dropdownMenu.classList.add('hidden');
      }
    });
  });
</script>
<!--header end-->
