<!--header-->
<header>
    <nav class="bg-gray-700 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">

               <%= link_to "Proxima Plan", "", class:"self-center text-xl font-semibold whitespace-nowrap dark:text-white"%>

            <div class="flex items-center lg:order-2">              
                <%= link_to "Home", landing_path, class:"text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"%>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">                   
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--header end-->


<%= form_with model: @project, url: projects_url, method: :post do |form| %>
  <%= form.text_field :name, placeholder: "Poroject name", class:"rounded mx-4 mt-4" %> <br>
  <%= form.submit 'Create Project', class:"bg-violet-700 hover:bg-violet-800 text-white font-bold py-2 px-4 rounded mx-4 mt-2" %>
<% end %>
