<!DOCTYPE html>
<html>
  <head>
    <title>IftWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <header> 
        Test
        <% if !current_user.nil? %>
          <button class="float-right" href=<%= sign_out_path %> >Log Out</button>
        <% else %>          
          <%= link_to "Log In", new_user_session_path %>
        <% end %>
      </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
